{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Railway Reservation System</span>

      <a class="nav-link" href="http://127.0.0.1:8080/reservation/"
        >Home <span class="sr-only">(current)</span></a
      >
    </nav>
    <div class="jumbotron">
      <div class="container">
        <img
          src="/static/online-railway-reservation-system-project (1).jpg"
          alt=""
        />
        <div class="row"></div>
      </div>

      <button type="button" class="btn btn-success" id="book" onclick="myFunction()">
        Book Ticket
      </button>
      <div class="footer">
        <p>Done by Rakesh,xxxx,yyyyy</p>
      </div>
    </div>
  </body>
  <script>
    function myFunction() {
      location.replace("http://127.0.0.1:8080/reservation/reserve");
    }
  </script>
</html>
