<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>home</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark ">
      <span class="navbar-brand mb-0 h1 "
        ><a class="nav-link " href="http://127.0.0.1:8000/billing/"
          >Canteen Billing System <span class="sr-only">(current)</span></a
        ></span
      >
    </nav>
    <div class="jumbotron">
      <div class="container">
        <img
          src="/static/supermart-billing-software.png"
          alt=""
          id="img1"
        /><br />

        <div class="card-deck">
          <div class="card">
            <img
              src="/static/hearthealthy.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                "The more colorful the food, the better. I try to add color to
                my diet, which means vegetables and fruits."
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="/static/Daily-Essentials.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                “Let food be thy medicine and medicine be thy food.”
              </p>
            </div>
          </div>
          <div class="card">
            <img src="/static/donwload1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                “Happiness. Simple as a glass of chocolate or tortuous as the
                heart. Bitter. Sweet. Alive.”
              </p>
            </div>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header"></div>
          <div class="card-body">
            <h5 class="card-title">Happy New Year</h5>
            <p class="card-text">
              To make purchases click the link below
            </p>
            <a href="http://127.0.0.1:8000/billing/bill" class="btn btn-primary"
              >Billing</a
            >
          </div>
          <div class="card-footer text-muted"></div>
        </div>
      </div>
    </div>
  </body>
</html>
